Language: Cpp
BasedOnStyle: LLVM 


IndentWidth: 4
ColumnLimit: 100
UseTab: Never
ContinuationIndentWidth: 4 



BreakBeforeBraces: Custom
BraceWrapping:
AfterControlStatement: Never
AfterFunction: true
BeforeElse: false
AfterStruct: false
AfterEnum: false 


SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true 


AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
Enabled: true
AcrossEmptyLines: false
AcrossComments: false
AlignConsecutiveDeclarations: false 


<!-- AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty

BasedOnStyle: WebKit
Language: Cpp
ColumnLimit: 100
PointerBindsToType: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: true
    AfterCaseLabel: true
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: true
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false -->